<div class="container">
<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home">
              Shopping Cart
            </a>
          </li>
        <li routerLinkActive="active">
          <a routerLink="home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="about">About</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="shopitem">Shopping Item</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="productlist">Product List</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="login">Login</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="register">Register</a>
        </li>
    </ul>
    <br />
    <router-outlet></router-outlet> 
</div>
</div>