<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product List</title>
</head>

<body>
  <select>
    <option value="INR" selected>INR</option>
    <option value="USD">USD</option>
    <option value="POUND">POUND</option>
  </select>
  <div class="panel panel-primary" *ngFor="let s of Products">
    <div class="panel-heading">
      <h3 class="panel-title">{{s.productname}}</h3>
    </div>

    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row vertical-align">


          <!-- <div class="col-xs-4">
            <img class="imageClass" [src]="s.productimgsrc" />
          </div> -->
          <div class="col-xs-8">
            <div class="row">


              <img class="imageClass" [src]="s.productimgsrc" />
            </div>
          </div>
          <div class="row">
              

            <div class="row">

              <div class="col-xs-6">
                {{s.productid}}
              </div>
              
            </div>
            <div class="row">

              <div class="col-xs-6">
                {{s.productname}}
              </div>
            </div>
            <div class="row">

              <div class="col-xs-6">
                {{s.productprice}}
              </div>
            </div>
            <div class="row">

                
                    <button value="AddtoCart" onclick="return showSelectedProduct()" >Add To Cart</button>
                
              </div>
          </div>





        </div>
      </div>
    </div>
  </div>

</body>

</html>