<div class="container" style="width:70%">
  <select class="form-control" style="width:10%;">
    <option selected="selected">INR</option>
  </select>
  <br/>
  <div>
    <div class="row">
    <div *ngFor="let product of products">
          <div class="col-md-3">
            <div class="row-md-1">
              <img [src]="product.file" style="border: ridger">
            </div>
            <br/>
            <h3>{{product.name}}</h3>
            <br/>
            <h4>{{product.amount}}</h4>
            <br/>
            <div *ngIf="product.inStock == true">
              <button>Add to Cart</button>              
            </div>
            <div *ngIf="!product.inStock == true">
                Out of Stock
              </div>
            <br/>
          </div> 
      </div>
      
    </div>
  </div>
</div>
<div class="container" style="width:30%">

</div>